@import url('https://fonts.cdnfonts.com/css/gilroy');
:root{
  --bg-primary-color: #0c0c0c;
  --text-primary-color: #e6e6e6;
  --card-primary-color: #222;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

html{
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}