
:root{
  --bg-primary-color: #0c0c0c;
  --text-primary-color: #e6e6e6;
  --card-primary-color: #1e1e1e;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

html{
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);
}

.parent{
  width: 100%;
  background-color: var(--bg-primary-color);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  height: 300px;
  width: 250px;
  background-color: var(--text-primary-color);
  border-radius: 30px;
  padding: 25px;
  color: var(--card-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 15px;
  gap: 3px;
  background-color: transparent;
}

.center{  
  padding: 5px;
}

.center h3{
  font-size: 18px;
  font-weight: 400;
}

.center h3 span{
  font-size: 10px;
  font-weight: 500;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
  font-weight: 300;
}

.center .tag{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  padding: 3px 6px;
  font-weight: 500  ;
}

.buttom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
  padding-top: 10px;
  border-top: 1px solid #b1b1b1;
  
}

.buttom button{
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-primary-color);
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 15px;
  gap: 3px;
  background-color: var(--card-primary-color);
  color: var(--text-primary-color);
}

.buttom h3{
  font-size: 17px;

}

.buttom p{
  font-size: 12px;
  color: #8b8b8b;
}