@import url('https://fonts.cdnfonts.com/css/gilroy');
:root{
  --bg-primary-color: #0b0b0b;
  --text-primary-color: #e6e6e6;
}

*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: 'Gilroy', sans-serif;
}