@import url('https://fonts.cdnfonts.com/css/gilroy');
:root{
  --bg-primary-color: #0c0c0c;
  --text-primary-color: #e6e6e6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

html{
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);
}

.nav{
  background-color: lightblue;
  padding: 5px;
}