@import "tailwindcss";

:root{
  --bg-primary-color: #1b1b1b;
  --text-primary-color: #e6e6e6;
}

*{
  box-sizing: border-box;
}

html,body{
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

button{
  padding: 10px 20px;
  margin: 20px;
  background-color: #e6e6e6;
  color: #1b1b1b;
  border-radius: 5px;
}

h1{
  color: #1b1b1b;
  background-color: gainsboro;
  width: fit-content;
  border-radius: 5px;
  padding: 50px 100px;
  margin: 30px;
  font-size: 50px;
}

