@import "tailwindcss";

*{
  box-sizing: border-box;
}

:root{
  --bg-primary-color: #1b1b1b;
  --text-primary-color: #e6e6e6;
}

html, body{
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  height: 100%;
  width: 100%;
}

input, button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
}

input{
  border: 1px solid white;
  border-radius: 10px;
  background-color: #2b2b2b;
}

